<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h1>
<div class="d-flex flex-wrap gutter-condensed mb-4">
    Hi there. My name is Keita Kurita and I am a masters student studying machine learning and NLP at CMU. <br>
    I received my bachelors degree in electrical engineering and computer science from the University of Tokyo where I graduated with honors. <br><br>

    My interests are in building machine learning-powered products that operate on large-scale, real-life data. I'm currently looking for full-time opportunities after graduation starting in 2020.
</div>
