<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Achievements/Awards</h2>
<div class="d-flex flex-wrap gutter-condensed mb-4">
    <ul>
        <li> Dean of Engineering Award for best bachelors thesis in department
        <li> Recipient of UTokyo-Toyota Scholarship for Artificial Intelligence
        <li> Recipient of JASSO Global Studies Scholarship
        <li> Top 1% in Kaggle Quora Insincere Questions Classification Competition
        <li> Top 4% in Jigsaw Unintended Bias in Toxicity Classification Competition
    </ul>
</div>
